<!-- 10 -->
<div class="timeline-item"><div class="timeline-dot"></div>
        <div class="timeline-content">
          <span class="timeline-year-tag" data-i18n="timeline.d10_date">2021 a 2025</span>
          <h3 data-i18n="timeline.d10_title">A Grande Reforma Arquitetônica</h3>
          <p data-i18n="timeline.d10_desc">Intervenção de quatro anos nas estruturas do templo para garantir isolamento termoacústico e acessibilidade universal (plataforma elevatória).</p>
        </div>
      </div>

<!-- 11 -->
<div class="timeline-item"><div class="timeline-dot"></div>
        <div class="timeline-content">
          <span class="timeline-year-tag" data-i18n="timeline.d11_date">2023 - 2024</span>
          <h3 data-i18n="timeline.d11_title">Reestruturação do Distrito Pastoral</h3>
          <p data-i18n="timeline.d11_desc">A APL consolida o distrito em: São Mateus (igreja central), Carrãozinho, São Francisco e Comunidade Haitiana.</p>
        </div>
      </div>

<!-- 12 -->
<div class="timeline-item"><div class="timeline-dot"></div>
        <div class="timeline-content">
          <span class="timeline-year-tag" data-i18n="timeline.d12_date">Maio - Junho de 2024</span>
          <h3 data-i18n="timeline.d12_title">Maranata DSA (Brasília)</h3>
          <p data-i18n="timeline.d12_desc">Mais de 20 mil jovens, incluindo os de São Mateus, engajam-se na Arena Mané Garrincha em campanhas da ADRA, doação de sangue e Marcha pela Paz.</p>
        </div>
      </div>

<!-- 13 -->
<div class="timeline-item"><div class="timeline-dot"></div>
        <div class="timeline-content">
          <span class="timeline-year-tag" data-i18n="timeline.d13_date">5 de Abril de 2025</span>
          <h3 data-i18n="timeline.d13_title">Reinauguração do Novo Templo</h3>
          <p data-i18n="timeline.d13_desc">Cerimônia oficial conduzida pelo Pr. Marcos Cardoso, com a cúpula da APL e UCB (Prof. Gelcy Cantuaria), consagrando o edifício moderno.</p>
        </div>
      </div>

<!-- 14 -->
<div class="timeline-item"><div class="timeline-dot"></div>
        <div class="timeline-content">
          <span class="timeline-year-tag" data-i18n="timeline.d14_date">Julho de 2026</span>
          <h3 data-i18n="timeline.d14_title">Maranata SP e MRNT Games</h3>
          <p data-i18n="timeline.d14_desc">Engajamento tecnológico e esportivo da juventude local no evento da APL, utilizando sistemas digitais (SJA, 7me) para controle de saúde e gamificação.</p>
        </div>
      </div>

